html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.logo img {
    height: 60px;
}

/* navigation */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(101, 37, 150, 0.434);
    position: fixed;
    width: 90%;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px 20px;
   z-index: 1000;
   border: 2px solid rgba(101, 37, 150, 0.434);
   border-radius: 50px ; 
   margin-top: 30px;
   max-width: 1200px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;  
}

.nav ul li a {
  color: rgb(159, 122, 161);
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  font-size: 18px;
  transition: 0.3s;
}


.nav ul li a:hover {
  border-radius: 5px;
}

.nav ul li.active a {
  color: white;
  border-radius: 5px;
}

section {
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 30px;
    
    padding: 40px;
    box-sizing: border-box;
}

 
  #home {
  height: 100vh;  
  display: flex;
  align-items: center;      
  justify-content: space-between; 
  padding: 0 40px;        
  
  /* background image settings */
  background-image: url("image/homebg.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;   

}

/* home Profile img */
#home img {
  margin-top: 50px;
  width: 600px;   
  height: auto;
  margin-right: 5%;
}

.resume{
  font-size: small;
}

.buttons .btn {
    display: inline-block;
    margin: 10px 15px;
    padding: 12px 25px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buttons .btn.outline {
    background: transparent;
    border: 2px solid #8c1d92;
    border-radius: 50px;
    color: white;
}

.buttons .btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* home text-content */
.home-text {
  text-align: center;  
  margin-left: 5%;
  margin-top: 10%;
}

.home-text h4 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 5px 0;  
  color:white;
  margin-right: 40%;
}

.home-text h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 5px 0;
  color:white;
}

.home-text p {
  font-size: 16px;
  line-height: 1.5;
  margin: 5px 0;
  color:white;
}

/* Socials icons */
.social-icons {
    margin-top: 30px;
    text-align: center;
}

.social-icons a i {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover i.fa-facebook-f {
    color: #207bf3;
}

.social-icons a:hover i.fa-instagram {
    color: #ff3da8;
}

.social-icons a:hover i.fa-tiktok {
    color: #4e4e4e;
}

.social-icons a:hover i.fa-twitter {
    color: #1da1f2;
}

.social-icons a:hover i.fa-linkedin {
    color: #207bf3;
}

/* about section */
  #about {
   height: 100vh;  
  display: flex;
  align-items: center;      
  justify-content: space-between; 
  padding: 0 40px;        
  
  /* background image settings */
  background-image: url("image/aboutbg.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;   

}

/* about Profile img */
#about img {
  margin-top: 90px;
  width: 300px;   
  height: auto;
  margin-left: 5%;
  border: 2px solid  #8c1d92;
  border-radius: 50%;
}

.about-text {
  text-align: center;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  color: white;
}

.about-text h1 {
  font-size: 32px;
  margin-bottom: 90px;
  margin-left: 10%; 
}

.about-text p{
   font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
  color:white;
}

/* Blogs Section */
#blogs {
  min-height: 100vh;               
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
  box-sizing: border-box;
  position: relative;

  /* background image settings */
  background-image: url("image/blogsbg.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;  
}

#blogs .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  width: 100%;

}

.blog-video {
  width: 30%;                    
  border-radius: 12px;
  background: #f8fff5;
}

.blogs-text {
  width: 50%;
  text-align: left;
  color: white;

}

.blogs-text h1 {
  font-size: 32px;
  margin-bottom: 90px;
  margin-left: 10%; 
}

.blogs-text p {
  font-size: 16px;
  line-height: 1.6;
}
